{
  "sources": [
    {
      "name": "CustomUserControlled",
      "comment": "use to annotate user input"
    }
  ],

  "sinks": [
    {
      "name": "CodeExecution",
      "comment": "use to annotate execution of python code"
    },
    {
      "name": "ShellExecution",
      "comment": "use to annotate execution of shell scripts"
    },
    {
      "name": "ThirdPartyTransfer",
      "comment": "use to annotate execution of data transfer to third parties"
    }
  ],

  "features": [],

  "rules": [{
      "name": "Operator-Sided Data Leakage [logs]",
      "code": 88801,
      "sources": [
        "UserControlled"
      ],
      "sinks": [
        "Logging"
      ],
      "message_format": "PII Date Leakage: Data from [{$sources}] source(s) may reach [{$sinks}] sink(s)"
    },
    {
      "name": "Potential Processing of User Data by Third Party without Consent",
      "code": 88802,
      "sources": [
        "UserControlled"
      ],
      "sinks": [
        "RequestSend_DATA"
      ],
      "message_format": "Potential Processing of User Data by Third Party without Consent"
    }]
}
